{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% if title %}{{ title }} — {% endif %}Bookshelf</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,400italic,600italic' rel='stylesheet' type='text/css'>
	<link href="{% static 'style.css' %}" type="text/css" rel="stylesheet">

	<link rel="shortcut icon" href="{% static 'favicon.ico' %}?v=2">
	<link rel="shortcut icon" href="{% static 'favicon.png' %}?v=2">

	<script src="{% static 'jquery-2.1.1.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'jquery.autosize.min.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'jquery.hotkeys.js' %}" type="text/javascript" charset="utf-8"></script>
	<script src="{% static 'jquery-ui.min.js' %}" type="text/javascript" charset="utf-8"></script>
	{% if book %}{# detail pag3 #}
	<script src="{% static 'd3.min.js' %}" type="text/javascript" charset="utf-8"></script>
	{% endif %}
	<script src="{% static 'bookshelf.js' %}" type="text/javascript" charset="utf-8"></script>

	{% block customscript %}
	{% endblock customscript %}
</head>
<body>
	<div class="wrapper">
		{% block menu %}
		<nav role="menu">
			{% if request.user %}
			<form class="search" action="{% url 'search' %}" method="GET">
				<input type="text" id="q" name="q" />
				<button type="submit" value="Search"><object type="image/svg+xml" data="{% static 'search.svg' %}">Search</object></button>
			</form>

			<div class="folder">
				<a href="{% url 'dashboard' %}"{% if folder.slug == "dashboard" %}class="selected"{% endif %}>
					<h2>Current Books</h2>
				</a>
			</div>

			<div class="folders">
				{% for f in folders %}
				<div class="folder" data-slug="{{ f.slug }}">
					<a href="{% url 'folder' f.slug %}"{% if folder and f.slug == folder.slug %}class="selected"{% endif %}>
						<h2>{{ f.name }}</h2>
						<h3>{{ f.active_readings|length }} book{% if f.active_readings|length != 1 %}s{% endif %}</h3>
					</a>
				</div>
				{% endfor %}
			</div>

			<div class="system">
				<a class="add-book" href="{% url 'add_book' %}">+ Add Book</a>
				<a href="">Stats</a>
				<a href="{% url 'history' %}">History</a>
				<a href="">Account</a>
				<a href="{% url 'logout' %}">Logout</a>
			</div>
			{% endif %}
		</nav>
		{% endblock menu %}

		<section id="page">
			<div class="mask"></div>
			{% block header %}
			<header role="banner">
				{% if request.user %}<a class="menu">&hellip;</a>{% endif %}
				<h1><a class="home" href="{% url 'dashboard' %}">Bookshelf</a></h1>
			</header>
			{% endblock header %}

			<main id="content">
				<div class="content container">
					{% block main %}{% endblock main %}
				</div>
			</main>
		</section>
	</div>

	<!-- Modal -->
	<div class="background"></div>
	{% block modal %}
	{% endblock modal %}
</body>
</html>
