<div class="entry">
	<section class="page_number">{% if reading.latest_entry %}{{ reading.latest_entry.page_number }}{% else %}—{% endif %}</section>
	<section class="sub">
		<span class="left"><span class="pages">{{ reading.pages_left }}</span> to go</span>
		<span class="label">(end: <span class="total" data-end-page="{{ reading.end_page }}">{{ reading.end_page }})</span></span>
	</section>
</div>

<a href="{% url 'book' reading.book.slug reading.id %}">
	<span class="label title">{{ reading.book.title }}</span>

	<span class="percentage">
		<span class="bar" style="width: {{ reading.percentage }}%;"></span>
	</span>

	<span class="info"><span class="num">{{ reading.percentage }}</span><span class="percent-sign">%</span> — {{ reading.started_date|timesince }} ago</span>
	{% if stale_period != 0 and reading.days_since_last_entry > stale_period %}
	<span class="stale">Last entry: <i>{{ reading.latest_entry.date|timesince }} ago</i></span>
	{% endif %}
</a>
