{% extends '_base.html' %}

{% block main %}
<h1 class="container">Add Book</h1>

<form id="add-book-form" class="container">
	<div class="group">
		<label>Title</label>
		<input type="text" name="title" autofocus />
	</div>

	<div class="group">
		<label>Author</label>
		<input type="text" name="author" />
	</div>

	<div class="group">
		<label># Pages</label>
		<input type="number" name="num_pages" />
	</div>

	<div class="group">
		<label>Tags</label>
		<select name="tags" multiple="multiple">
			{% for t in tags %}
			<option value="{{ t.slug }}">{{ t.name }}</option>
			{% endfor %}
		</select>
	</div>

	<div class="group submit">
		<input type="submit" value="Add Book" class="button" />
	</div>

	<div class="group optional">
		<label>Starting Page</label>
		<input type="number" name="starting_page" />
	</div>
</form>

{% endblock main %}
