{% extends '_base.html' %}

{% load strip_time %}

{% block main %}
<section class="detail info container" data-reading-id="{{ reading.id }}">
	<div class="entry">
		<section class="page_number">{% if reading.latest_entry %}{{ reading.latest_entry.page_number }}{% else %}—{% endif %}</section>
		<section class="sub">
            {% if reading.goal_date %}
            <span class="left">Read to page <span class="pages">{{ reading.read_to_page_for_goal }}</span></span>
			<span class="label">(pages per day: <span class="total" >{{ reading.pages_per_day_for_goal }})</span></span>
            {% else %}
			<span class="left"><span class="pages">{{ reading.pages_left }}</span> to go</span>
			<span class="label">(end: <span class="total" data-end-page="{{ reading.end_page }}">{{ reading.end_page }})</span></span>
            {% endif %}
		</section>
	</div>

	<h1>{{ book.title }}</h1>
	{% if book.author %}<h2>{{ book.author }}</h2>{% endif %}

	{% if reading.tags.all %}
	<div class="group tags">
		{% for tag in reading.tags.all %}<span class="tag"><span class="blob"{% if tag.color %} style="background: {{ tag.color }};"{% endif %}></span>{{ tag.name }}</span>{% endfor %}
	</div>
	{% endif %}
</section>

<section class="detail metadata container">

	{% if reading.starting_page %}
	<div class="group">
		<h3>Start Page</h3>
		<p>{{ reading.starting_page }}</p>
	</div>
	{% endif %}

	<div class="group">
		<h3>Start Date</h3>
		<p>{{ reading.started_date }}{% if not reading.finished_date %} <span>({{ reading.started_date|timesince|strip_time }})</span>{% endif %}</p>
	</div>

    {% if reading.goal_date %}
	<div class="group">
		<h3>Goal Date</h3>
        <p>{{ reading.goal_date }} {% if not reading.finished_date %}<span>{{ reading.days_left_to_goal }} days left.</span>{% endif %}</p>
	</div>
    {% endif %}

	{% if reading.finished_date %}
	<div class="group">
		<h3>Finished Date</h3>
		<p>{{ reading.finished_date }} <span>({{ reading.started_date|timesince:reading.finished_date|strip_time:False }})</span></p>
	</div>
	{% endif %}
</section>

{% if reading.entries.all %}
<section class="detail chart container">
	<h3>Chart</h3>

	<svg class="chart-wrapper book"></svg>
</section>
{% endif %}

{% if reading.entries.all %}
<section class="detail entries container">
	<h3>Entries</h3>

	<ul>
		{% for entry in reading.entries.all %}
		<li>
			<a href="{% url 'admin:bookshelf_entry_change' entry.id %}" target="_new">
				<div class="dateinfo">
					<span class="date">{{ entry.date|date:"j M Y" }}</span>
					<span class="time">{{ entry.date|date:"f a" }}</span>
				</div>

				<div class="metadata">
					<div class="page-number">p.&thinsp;{{ entry.page_number }} <span>({{ entry.num_pages }} pages)</span></div>
					{% if entry.comment %}
						<div class="comment">{{ entry.comment }}</div>
					{% endif %}
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>	
</section>
{% endif %}

<section class="detail edit container">
	<a href="{% url 'admin:bookshelf_reading_change' reading.id %}" target="_new">Edit Reading</a>
	<a href="{% url 'admin:bookshelf_book_change' book.id %}" target="_new">Edit Book</a>
</section>

{% endblock main %}

{% block customscript %}
<script type="text/javascript" charset="utf-8">
	var data = {{ entrydata|safe }};
</script>
{% endblock customscript %}

{% block modal %}
{% include '_addentry.html' %}
{% endblock %}
