{% extends '_base.html' %}

{% block main %}
<section class="detail info container" data-reading-id="{{ reading.id }}">
	<div class="entry">
		<section class="page_number">{% if reading.latest_entry %}{{ reading.latest_entry.page_number }}{% else %}—{% endif %}</section>
		<section class="sub">
			<span class="left"><span class="pages">{{ reading.pages_left }}</span> of <span class="total">{{ reading.end_page }}</span></span>
			<span class="label">pages left</span>
		</section>
	</div>

	<h1>{{ book.title }}</h1>
	{% if book.author %}<h2>{{ book.author }}</h2>{% endif %}
</section>

<section class="detail metadata container">
	{% if reading.starting_page %}
	<div class="group">
		<h3>Start Page</h3>
		<p>{{ reading.starting_page }}</p>
	</div>
	{% endif %}

	<div class="group">
		<h3>Start Date</h3>
		<p>{{ reading.started_date }}{% if not reading.finished_date %} <span>({{ reading.started_date|timesince }} ago)</span>{% endif %}</p>
	</div>

	{% if reading.finished_date %}
	<div class="group">
		<h3>Finished Date</h3>
		<p>{{ reading.finished_date }} <span>({{ reading.started_date|timesince:reading.finished_date }})</span></p>
	</div>
	{% endif %}
</section>

{% if reading.entries.all %}
<section class="detail chart container">
	<h3>Chart</h3>

	<svg class="chart-wrapper book"></svg>
</section>
{% endif %}

{% if reading.entries.all %}
<section class="detail entries container">
	<h3>Entries</h3>

	<ul>
		{% for entry in reading.entries.all %}
		<li>
			<a href="{% url 'admin:bookshelf_entry_change' entry.id %}" target="_new">
				<div class="dateinfo">
					<span class="date">{{ entry.date|date:"j M Y" }}</span>
					<span class="time">{{ entry.date|date:"f a" }}</span>
				</div>

				<div class="metadata">
					<div class="page-number">p.&thinsp;{{ entry.page_number }} <span>({{ entry.num_pages }} pages)</span></div>
					{% if entry.comment %}
						<div class="comment">{{ entry.comment }}</div>
					{% endif %}
				</div>
			</a>
		</li>
		{% endfor %}
	</ul>	
</section>
{% endif %}

<section class="detail edit container">
	<a href="{% url 'admin:bookshelf_reading_change' reading.id %}" target="_new">Edit Reading</a>
	<a href="{% url 'admin:bookshelf_book_change' book.id %}" target="_new">Edit Book</a>
</section>

{% endblock main %}

{% block customscript %}
<script type="text/javascript" charset="utf-8">
	var data = {{ entrydata|safe }};
</script>
{% endblock customscript %}

{% block modal %}
{% include '_addentry.html' %}
{% endblock %}
