{% extends 'folder.html' %}

{% block main %}
<h1 class="container">Current Books</h1>

{% if folderless %}
<div class="folder">
	<ul class="booklist">
	{% for reading in folderless %}
		<li data-reading-id="{{ reading.id }}" data-book-slug="{{ reading.book.slug }}" class="container">{% include '_reading.html' %}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% for folder in folders %}
{% if folder.readings.all %}
<div class="folder">
	<h2 class="container">{{ folder.name }}</h2>
	<ul class="booklist">
	{% for reading in folder.readings.all %}
		<li data-reading-id="{{ reading.id }}" data-book-slug="{{ reading.book.slug }}" class="container">{% include '_reading.html' %}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}
{% endfor %}

{% endblock main %}
