{% extends '_base.html' %}

{% block main %}

<h1 class="container">{{ folder.name }}</h1>

<ul class="booklist">
{% for reading in folder.readings.all %}
	<li data-reading-id="{{ reading.id }}" data-book-slug="{{ reading.book.slug }}" class="container">{% include '_reading.html' %}</li>
{% endfor %}
</ul>

{% endblock main %}

{% block modal %}
<form id="add-entry-modal" class="modal padless">
	<header class="modal-group">
		<a class="cancel-link">Cancel</a>

		<h2>Page:</h2> <input id="entry-box" type="number" pattern="\d*" value="{% if reading.latest_entry %}{{ reading.latest_entry.page_number }}{% endif %}" maxlength="4" autofocus>
	</header>

	<div class="modal-group comment">
		<label>Comment (optional)</label>
		<textarea id="comment"></textarea>
	</div>

	<div class="modal-group save">
		<input type="submit" class="button" value="Add Entry" />
	</div>
</form>
{% endblock %}
