{% extends 'folder.html' %}

{% block main %}
<h1 class="container">History</h1>

{% if finished %}
<div class="folder">
<h2 class="container">Finished</h2>
<ul class="booklist history">
{% for reading in finished %}
	<li data-reading-id="{{ reading.id }}" data-book-slug="{{ reading.book.slug }}" class="container">{% include '_reading.html' %}</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% if abandoned %}
<div class="folder">
<h2 class="container">Abandoned</h2>
<ul class="booklist history">
{% for reading in abandoned %}
	<li data-reading-id="{{ reading.id }}" data-book-slug="{{ reading.book.slug }}" class="container">{% include '_reading.html' %}</li>
{% endfor %}
</ul>
</div>
{% endif %}

{% endblock main %}
