* {
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: Source Sans Pro, Helvetica, Arial;
}

body {
	margin: 0;
	padding: 0;
}

.content {
	padding-top: 15px;
	padding-bottom: 30px;
}

.content .container {
	max-width: 500px;
	padding: 0 15px;
}


/* Page header */
/* -------------------------------------------------- */

header[role=banner] {
	background: #07080a;
	overflow: hidden;
}

header[role=banner] h1 {
	color: hsl(208, 42%, 63%);
	font-size: 1em;
	font-weight: 400;
	left: 60px;
	letter-spacing: 0.04em;
	margin: 0;
	overflow: hidden;
	position: absolute;
	right: 60px;
	text-align: center;
	text-transform: uppercase;
	z-index: 50000;
}

header[role=banner] h1 a.home {
	color: #fff;
	display: block;
	padding-top: .5em;
	padding-bottom: .5em;
	text-decoration: none;
}

header[role=banner] a:hover {
	color: hsl(48, 81%, 74%) !important;
}

header[role=banner] a.menu {
	color: #fff;
	cursor: pointer;
	display: inline-block;
	float: left;
	font-size: 1.3em;
	height: 100%;
	line-height: 100%;
	padding: .1em .5em .7em;
	z-index: 100000;
}


/* Navigation */
/* -------------------------------------------------- */

nav[role=menu] {
	-moz-transition: -moz-transform .15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
	-o-transition: -o-transform .15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
	-webkit-transition: -webkit-transform .15s cubic-bezier(0.2, 0.3, 0.25, 0.9);
	transition: transform .15s cubic-bezier(0.2, 0.3, 0.25, 0.9);

	-webkit-overflow-scrolling: touch;

	-moz-transform: translate3d(-200px, 0, 0);
	-ms-transform: translate3d(-200px, 0, 0);
	-o-transform: translate3d(-200px, 0, 0);
	-webkit-transform: translate3d(-200px, 0, 0);
	transform: translate3d(-200px, 0, 0);

	background: #20283c;
	bottom: 0;
	float: left;
	left: 0;
	overflow-y: scroll;
	overflow: hidden;
	padding-bottom: 1em;
	padding-top: 1em;
	position: fixed;
	text-align: right;
	top: 0;
	width: 200px;
	z-index: 0;
}

nav[role=menu] a {
	color: #fff;
	display: block;
	padding: 15px 20px;
	text-decoration: none;
}

nav[role=menu] a.selected {
	background: rgba(0, 0, 0, 0.2);
}

nav[role=menu] a:hover {
	background: rgba(0, 0, 0, 0.1);
	color: #fff;
}

nav[role=menu] h2 {
	font-size: 1.2em;
	font-weight: 400;
	margin: 0;
}

nav[role=menu] h3 {
	color: #6c8098;
	font-size: .8em;
	font-style: italic;
	font-weight: 400;
	margin: 3px 0 0;
}

nav[role=menu] .system {
	font-size: .85em;
	margin-top: 2.5em;
}

nav[role=menu] .system a {
	color: #8ca7b5;
	padding: 6px 20px;
}

nav[role=menu] .system a.add-book {
	color: #a2bb87;
}

nav[role=menu] .folder.placeholder {
	background: #111;
	height: 4em;
}

nav[role=menu] .folder.ui-sortable-helper {
	background: rgba(0, 0, 0, 0.7);
	border-radius: 5px;
}

body.active-nav nav[role=menu] {
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	-o-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

body.active-nav #page {
	-moz-transform: translate3d(200px, 0, 0);
	-ms-transform: translate3d(200px, 0, 0);
	-o-transform: translate3d(200px, 0, 0);
	-webkit-transform: translate3d(200px, 0, 0);
	transform: translate3d(200px, 0, 0);
	box-shadow: -1px 0 25px rgba(0, 0, 0, 0.5);
	bottom: 0;
	position: fixed;
	top: 0;
	width: 100%;
}

body.active-nav #page .mask {
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 50000;
}


/* Books */
/* -------------------------------------------------- */

.content h1 {
	color: #888;
	font-size: 1.3em;
	font-weight: 400;
	margin-top: 0;
}

.content h2 {
	color: #5278b2;
	font-size: 1.1em;
	margin: 0 0 .75em;
	padding-top: .25em;
}

.content .folder {
	max-width: 500px;
}

.content .folder + .folder {
	border-top: solid 1px #ddd;
	margin-top: 2em;
	padding-top: 1.25em;
}

ul.booklist {
	margin: 0;
	padding: 0;
}

ul.booklist li {
	background: #fff;
	list-style: none;
	overflow: hidden;
	padding: 0;
}

ul.booklist li + li {
	margin-top: 1.35em;
}

ul.booklist li a {
	color: #444;
	text-decoration: none;
}

ul.booklist li a span.label {
	font-size: 1.3em;	
	font-weight: 600;
	letter-spacing: -0.02em;
	line-height: 1.1em;
}

ul.booklist li .entry {
	color: #437dc4;
	cursor: pointer;
	float: right;
	font-weight: 600;
	margin-left: 20px;
	text-align: center;
	width: 4.75em;
}

ul.booklist li .entry .page_number {
	background: #e5f5fd;
	border-radius: 1em;
	font-size: 1.4em;
	letter-spacing: -0.02em;
	padding: 1px 10px 2px;
}

ul.booklist li .entry .sub {
	color: #bbb;
	font-size: .8em;
	font-style: italic;
	line-height: 1.1em;
	padding: 5px 0px 6px;
}

ul.booklist li .entry .sub .label {
	display: block;
	font-size: .8em;
	line-height: 1.1em;
	margin-top: 1px;
}

ul.booklist li .entry .sub .left .pages,
ul.booklist li .entry .sub .left .total {
	color: #999;
	letter-spacing: -0.01em;
	padding: 0 1px;
}

ul.booklist li .info {
	color: #bbb;
	display: block;
	font-size: .85em;
	margin-top: 4px;
}

ul.booklist li .info .num {
	color: #e46286;
	font-size: 1.1em;
	font-weight: 600;
}

ul.booklist li .info .percent-sign {
	color: #e46286;
	font-size: .8em;
	font-weight: 400;
	margin-left: 1px;
}

ul.booklist li .entry:hover .page_number {
	background: #e4f0ca;
	color: #4b690e;
}

ul.booklist li.placeholder {
	background: #eee;
	height: 3em;
}

ul.booklist li.ui-sortable-helper {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
	padding: 10px;
}

ul.booklist li.ui-sortable-helper .entry {
	display: none;
}

ul.booklist li.ui-sortable-helper .percentage {
	display: none;
}

ul.booklist li.ui-sortable-helper .info {
	display: none;
}


/* Percentage */
/* -------------------------------------------------- */

.percentage {
	background: #eee;
	border-radius: 3px;
	display: block;
	margin-top: 6px;
	width: 100px;
	height: 14px;
}

.percentage .bar {
	background: #333;
	border-radius: 3px 0 0 3px;
	display: block;
	height: 14px;
}


/* Modal */

.background {
	background: rgba(0, 0, 0, 0.7);
	bottom: 0;
	display: none;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 60000;
}

form.modal {
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
	display: none;
	left: 0;
	margin: 0px auto;
	max-width: 400px;
	padding: 25px;
	position: absolute;
	right: 0;
	top: 20px;
	width: 90%;
	z-index: 75000;
}

form.modal h2 {
	font-size: 1.2em;
	font-weight: normal;
	margin-bottom: .75em;
	margin: 0;
}

form.modal label {
	color: #6993b4;
	display: block;
	font-size: .9em;
	line-height: 1.1em;
	margin-bottom: .2em;
	margin-top: .75em;
}

form.modal input[type=text],
form.modal input[type=date] {
	border-radius: 3px;
	border: solid 1px #bbb;
	font-size: 1em;
	padding: 3px 4px;
	width: 100%;
}

form.modal input[type=text]:focus,
form.modal input[type=date]:focus {
	border-color: #aaa;
	outline: none;
}

form.modal textarea {
	border-radius: 3px;
	border: solid 1px #bbb;
	font-size: 1em;
	margin: 0;
	min-height: 120px;
	max-height: 180px;
	padding: 3px 4px;
	width: 100%;
}

form.modal textarea:focus,
form.modal textarea:focus {
	border-color: #aaa;
	outline: none;
}

form.modal input[type=submit] {
	-webkit-appearance: none;
	background: #5997d6;
	border-radius: 3px;
	border: none;
	color: #fff;
	cursor: pointer;
	display: block;
	font-size: .9em;
	margin-top: 1.5em;
	padding: 5px 10px 6px;
}

form.modal input[type=submit]:hover {
	background: #000;
}

form.modal a.cancel-link {
	color: #888;
	cursor: pointer;
	float: right;
	font-size: .8em;
	text-decoration: none;
}

form.modal a.cancel-link:hover {
	color: #000;
}

form.modal input[name=tags] {
	font-size: 1em;
}

form.modal ul.tagit {
	border-color: #bbb;
	border-radius: 3px;
	font-size: 1em;
	margin-top: 0;
	padding: 4px 5px;
}

form.modal ul.tagit li.tagit-choice .tagit-label:not(a) {
	color: #222;
}

form.modal ul.tagit li.tagit-choice {
	background-color: #d4efbc;
	border-color: #d4efbc;
	border-radius: 3px;
}

form.modal ul.tagit li.tagit-choice-editable {
	font-size: .9em;
	padding: 2px 20px 3px 6px;
}

form.modal ul.tagit li.tagit-choice .tagit-close {
	margin-top: -9px;
}

form.modal ul.tagit li.tagit-choice .tagit-close .text-icon {
	font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
	color: #9ec78b;
}

form.modal ul.tagit input[type=text] {
	font-size: .9em;
	width: 100px;
}

form.modal ul.tagit li.tagit-new {
	margin-top: 0;
}

form.modal.padless {
	padding: 0;
}

form.modal.padless .modal-group {
	padding-left: 25px;
	padding-right: 25px;
}

form.modal#add-entry-modal {
	position: fixed;
}

form.modal#add-entry-modal header {
	background: #326299;
	border-radius: 5px 5px 0 0;
}

form.modal#add-entry-modal .cancel-link {
	color: #b7e1ff;
	margin-top: 15px;
}

form.modal#add-entry-modal .cancel-link:hover {
	color: #fff;
}

form.modal#add-entry-modal h2 {
	color: #b7e1ff;
	font-size: 1.2em;
	display: inline-block;
	margin: 0;
	margin-right: 8px;
	position: relative;
	top: -5px;
}

form.modal#add-entry-modal #entry-box {
	-moz-appearance: textfield;
	background: rgba(0, 0, 0, 0.4);
	border: none;
	border-radius: 3px;
	color: #fff;
	font-size: 1.4em;
	margin: 8px 3px;
	padding: 2px 6px;
	position: relative;
	top: 5px;
	width: 2.5em;
}

form.modal#add-entry-modal .comment label {
	color: #a5b8c7;
	font-size: .8em;
	margin-bottom: 5px;
}

form.modal#add-entry-modal .comment label .title {
	font-style: italic;
}

form.modal#add-entry-modal .comment textarea#comment {
	border: none;
	font-size: 1em;
	min-height: 4em;
	max-height: initial;
	padding: 0;
	resize: none;
}

form.modal#add-entry-modal .modal-group.save {
	background: #eee;
	border-radius: 0 0 5px 5px;
	overflow: hidden;
	padding-top: 8px;
	padding-bottom: 8px;
}

form.modal#add-entry-modal .modal-group.save input[type=submit] {
	float: right;
	margin-top: 0;
}


/* On-page forms */
/* -------------------------------------------------- */

form .group label {
	color: #888;
	display: block;
	margin-bottom: .2em;
}

form .group section {
	margin-bottom: 1em;
}

form input[type=text], form input[type=number], form input[type=password] {
	border: solid 1px #bbb;
	border-radius: 2px;
	font-size: 1.2em;
	padding: 4px 6px;
}

form input[type=text]:focus, form input[type=number]:focus, form input[type=password]:focus {
	outline: none;
}

form input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

form input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

form input.button {
	background: #6392c8;
	border: none;
	border-radius: 5px;
	color: #fff;
	cursor: pointer;
	font-size: 1em;
	padding: 4px 10px 6px;
}

form input.button:hover {
	background: #444;
}

form .group.optional {
	border-top: solid 1px #ddd;
	font-size: .8em;
	margin-top: 3em !important;
	padding-top: 2em;
}

form .group.optional label {
	color: #999;
}

form .group.optional input[type=text],
form .group.optional input[type=number],
form .group.optional input[type=password] {
	font-size: .9em;
	padding: 1px 3px 2px;
}

form .group.optional input[type=number] {
	width: 2.25em;
}


/* Login page */
/* -------------------------------------------------- */

form.login {
	margin-top: 1em;
}


/* Add book */
/* -------------------------------------------------- */

form#add-book-form .group + .group {
	margin-top: .75em;
}

form#add-book-form input[name=title] {
	width: 100%;
}

form#add-book-form input[name=author] {
	width: 80%;
}


/* Search */
/* -------------------------------------------------- */

.search {
	margin-bottom: 1.5em;
	padding: 0 20px;
}

.search input[type=text] {
	background: rgba(0, 0, 0, 0.2);
	border: none;
	border-radius: 2px;
	color: #fff;
	font-size: 1em;
	padding: 4px 6px 5px;
	width: 120px;
}

.search input[type=text]:focus {
	outline: none;
}

.search button {
	-webkit-appearance: none;
	background: none;
	border: none;
	color: #6c8098;
	cursor: pointer;
	font-size: 1em;
	padding: 4px 8px 5px;
}

.search button object {
	height: .8em;
	margin: 2px 0 0;
	width: .8em;
}

.search button:hover {
	background: rgba(0, 0, 0, 0.3);
	border-radius: 2px;
}


/* Detail page */
/* -------------------------------------------------- */

.detail .entry {
	color: #437dc4;
	cursor: pointer;
	float: right;
	font-weight: 600;
	margin-left: 20px;
	text-align: center;
	width: 4.5em;
}

.detail .entry .page_number {
	background: #e5f5fd;
	border-radius: 1em;
	font-size: 1.3em;
	padding: 2px 10px 3px;
}

.detail .entry .sub {
	color: #bbb;
	font-size: .7em;
	font-style: italic;
	line-height: 1.1em;
	padding: 5px 0px 6px;
}

.detail .entry .sub .label {
	font-size: .8em;
	line-height: 1.1em;
}

.detail .entry .sub .left .pages,
.detail .entry .sub .left .total {
	color: #999;
	padding: 0 1px;
}

.detail.info h1 {
	color: #333;
	font-weight: 600;
	margin: 0;
}

.detail.info h2 {
	color: #888;
	font-size: 1em;
	font-weight: 400;
	margin: 0;
	padding: 0;
}

.detail h3 {
	color: #5278b2;
	font-size: 1em;
	margin-bottom: .5em;
	margin-top: 2em;
}

.detail.entries ul {
	margin: 0;
	padding: 0;
}

.detail.entries li {
	border-top: solid 1px #ddd;
	list-style: none;
	overflow: hidden;
	padding: 10px 0;
}

.detail.entries li:hover {
	background: #eee;
}

.detail.entries a {
	color: #444;
	text-decoration: none;
}

.detail.entries .dateinfo {
	color: #888;
	float: left;
	font-size: .8em;
	width: 90px;
}

.detail.entries span {
	display: block;
}

.detail.entries span.time {
	color: #aaa;
	font-size: .85em;
	margin-top: 1px;
}

.detail.entries .metadata {
	color: #444;
	margin-left: 110px;
}

.detail.entries .metadata .page-number {
	font-size: 1em;
	line-height: 1.1em;
}

.detail.entries .metadata .page-number span {
	color: #bbb;
	display: inline;
	font-size: .8em;
}

.detail.entries .metadata .comment {
	font-size: .9em;
	line-height: 1.3em;
	margin-top: 3px;
}

.detail.metadata {
	margin-top: 1.5em;
}

.detail.metadata .group + .group {
	margin-top: 1em;
}

.detail.metadata .group h3 {
	margin: 0;
}

.detail.metadata .group p {
	margin: 0;
}

.detail.metadata .group p span {
	color: #bbb;
	font-size: .8em;
}

.detail.edit {
	border-top: solid 1px #ddd;
	margin-top: 3em;
	padding-top: 1em;
}

.detail.edit a {
	color: #bbb;
	display: inline-block;
	font-size: .9em;
	text-decoration: none;
}

.detail.edit a + a {
	margin-left: 10px;
}

.detail.edit a:hover {
	color: #444;
}


/* Charts */
/* -------------------------------------------------- */

.chart-wrapper {
	max-width: 100%;
}

.chart-wrapper rect.base {
	fill: #a8456b;
}

.chart-wrapper rect.new {
	fill: #ec7a8f;
}

.chart-wrapper text {
	fill: white;
	font-size: 10px;
	font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
	text-anchor: end;
}

.chart-wrapper .axis text {
	fill: #999;
}

.chart-wrapper .axis path,
.chart-wrapper .axis line {
	fill: none;
	stroke: #bbb;
	shape-rendering: crispEdges;
}

.chart-wrapper line.baseline {
	fill: none;
	stroke: #a8456b;
	shape-rendering: crispEdges;
}

@media screen and (min-width: 700px) {
	header[role=banner] {
		background: none !important;
		font-size: .9em;
		left: 0px;
		padding-right: 20px;
		position: fixed;
		text-align: right;
		top: 50px;
		width: 300px;
	}

	header[role=banner] h1 {
		position: initial;
		text-align: right;
	}

	header[role=banner] h1 a {
		padding-top: 60px;
	}

	header[role=banner] h1 a.home {
		color: #8ca7b5;
	}

	header[role=banner] a.menu {
		display: none;
	}

	nav[role=menu] {
		-moz-transition: none;
		-o-transition: none;
		-webkit-transition: none;
		transition: none;
		-moz-transform: none;
		-ms-transform: none;
		-o-transform: none;
		-webkit-transform: none;
		transform: none;
		border: none;
		bottom: 0px;
		display: block;
		left: 0px;
		margin-bottom: 0;
		overflow: hidden;
		overflow-y: auto;
		padding-top: 100px;
		position: fixed;
		top: 0px;
		width: 300px;
	}

	main#content {
		font-size: 1.1em;
		margin-left: 360px;
		margin-top: 0;
		padding-bottom: 100px;
	}

	main#content .content {
		padding-right: 50px;
		padding-top: 50px;
	}
}
